/**
*
* Global
*
**/
html {
  font-size: $base-px + 0px;
  -webkit-font-smoothing: $font-smoothing;
  -moz-font-smoothing:    $font-smoothing;
  font-smoothing:         $font-smoothing;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust:    100%;
  text-size-adjust:         100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-family: $font-family;
  font-size:   $font-size;
  line-height: $line-height;
  color:       $text-color;
  background-color: $white;
}
p {
  font-family:    $font-family;
  font-weight:    $font-weight;
  font-size:      $font-size;
  line-height:    $line-height;
  margin-bottom:  $paragraph-bottom-margin;
  text-rendering: $paragraph-text-rendering;
  font-smoothing: $font-smoothing;
}
// links
a {
  color: $link-text-color;
  text-decoration: $link-decoration;
  &:hover,
  &:focus {
    color: $link-hover-text-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus {
    // .tab-focus();
  }
}

