// grid
// - - - - - - - - - - - - - - - - - - - - - - - - - -
//
$grid-width:   (rem(1200));
$grid-columns: 12;
$grid-colspan: 1;
$grid-padding: 0;
$grid-margin:  0 auto;
$grid-gutter:  0;

@mixin row($width: $grid-width, $row-padding: false, $margin: $grid-margin) {
  max-width: $width;
  width:     100%;
  margin:    $margin;
  @if $row-padding == false {
    padding: $grid-padding;
  } @else {
    padding-top:    $grid-padding;
    padding-bottom: $grid-padding;
  }
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin col($colspan: $grid-colspan, $columns: $grid-columns, $padding: $grid-padding, $margin: $grid-margin, $gutter: $grid-gutter, $edge: false) {
  $all-gutters: ($columns - 1) * $gutter;
  $spanned-gutters: ($colspan - 1) * $gutter;
  width: ($colspan * ((100 - $all-gutters) / $columns) ) + $spanned-gutters + 0rem;
  float: left;
  padding: $padding;
  @if $edge == false {
    margin: 0 remCalc(#{$gutter}) 0 0;
  } @else {
    margin: 0;
  }
}
