// - - - - - - - - - - - - - - - - - - - - - - - - - -
// HELPER
// - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin clear {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

/*==========  GENERIC  ==========*/
@mixin center {
  text-align: center;
}
