// ==========================
// generic
// ==========================

// clearfix
@mixin clear {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// centering
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// mobile menu icon
@mixin mobile-menu-icon(
  $color: $black,
  $color-hover: $dark-gray,
  $width: 20px,
  $height: 16px,
  $weight: 2px,
  $bars: 3
) {
  $shadow: ();
  $hover-shadow: ();
  $spacing: floor(($height - ($weight * $bars)) / ($bars - 1));
  // container
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: $width;
  height: $height;
  // bars
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: $weight;
    background: $color;
    top: 0;
    left: 0;
    @for $i from 2 through $bars {
      $offset: ($weight + $spacing) * ($i - 1);
      $shadow: append($shadow, 0 $offset 0 $color, comma);
    }
    box-shadow: $shadow;
  }
  // hover
  @if $color-hover {
    @for $i from 2 through $bars {
      $offset: ($weight + $spacing) * ($i - 1);
      $hover-shadow: append($hover-shadow, 0 $offset 0 $color-hover, comma);
    }
    &:hover::after {
      background: $color-hover;
      box-shadow: $hover-shadow;
    }
  }
}

// ==========================
// accessibility
// ==========================

// invisible except for screen reader
@mixin screen-reader {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
